In [1]:
print("my naim is hutoon")

my naim is hutoon

In [2]:
6/3

2.0

In [3]:
H = ["Hutoon", 20.1, 2002]
H

['Hutoon', 20.1, 2002]

In [7]:
tuple1 = ("1423",3,2.4 )
tuple1
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

1423
3
2.4

In [8]:
print (12)
a=2
b=4
print(a+b)
print('a+b')
type (5)
type ('salha')

12
6
a+b

str

In [13]:
x = 5
print(type(x))

x = ["apple", "banana", "cherry"]

print(x)

<class 'int'>
['apple', 'banana', 'cherry']

In [1]:
print('hello, my name is aryam')

hello, my name is aryam

In [2]:
x=6
x

6

In [3]:
x*2

12

In [4]:
a=False
print(a)
print(type(a))
print(int(True))

False
<class 'bool'>
1

In [5]:
print(22/6)

3.6666666666666665

In [6]:
print(26//3)

8

In [7]:
print((30*12)*5)

1800

In [8]:
tuple1=("226",3 , 4.0)
tuple1
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

226
3
4.0

In [9]:
L=["Aryam Rafea", 31.8, 2002]
L

['Aryam Rafea', 31.8, 2002]